h1 {
    color:#ffd83c;
    font-size: 50px;
    text-align: center;
   }

h2 {
    color:#ffd83c;
    font-size: 50px;
    text-align: center;
   }

body {
    background:#02224d;
    font-size:16px;
    color:#ffffff;
     }
