h3 {
    color: white;
    font-size: 35px;
   }
  
p {
    color: white;
    font-size: 25px;
  }
  
h1 {
    color:#ffd83c;
    font-size: 50px;
   }

body {
    background:#02224d;
     }
